[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "*"
attrs = "*"
Flask-Bootstrap = "*"
flask-nav = "*"
Flask-WTF = "*"

[packages.pycortex]
git = "https://github.com/winni2k/pycortex.git"
ref = "0.0.3"
